@tailwind base;
@tailwind components;
@tailwind utilities;

.MyDragHandleClassName {
    cursor: pointer;
    /* height: 40px; */
    display: inline;
    line-height: 38px;
    /* background: #61dafb; */
    max-height: 480x;
}

.react-grid-layout {
    border: 1px solid red;
    width: 100%;
    padding-bottom: 30px !important;    
    /* background-color: beige; */
    /* height: 200px !important; */
    margin-bottom: 20px;
}

.react-grid-item {
    background-color: lavender;
    height: fit-content;
}
.split {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    height: 100vh;
}

.split-1 {
    display: flex;
    /* height: calc(100vh-50px); */
    height: calc(100vh - 58px);
    flex-direction: column;
    padding: 1px;
    border-radius: 5px;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.maincontent {
    height: calc(100vh - 25px);
}

.cong-kham {
    min-height: 250px;
    max-height: 250px;
}
.phong-kham {
    min-height: 300px;
    max-height: 350px;
}




